## 2. Poission Regression

### a)

In [26]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston

In [2]:
boston_data = load_boston()

In [3]:
boston_data.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [4]:
boston_data.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [5]:
print(boston_data.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [6]:
boston_data.filename

'F:\\Anaconda\\envs\\DM\\lib\\site-packages\\sklearn\\datasets\\data\\boston_house_prices.csv'

<hr style = "border-top: 3px solid #000000 ; border-radius: 3px;">

<p style =" direction:rtl;text-align:right;">
دیتا را لود کرده و کلیدها و ویژگی های ان را نمایش می دهیم.
    می توان به داده ها، متغیر هدف، نام فیچرها، توصیف کلی دیتاست دسترسی پیدا کرد.
    
</p>

<hr style = "border-top: 3px solid #000000 ; border-radius: 3px;">

### b)

In [7]:
boston = pd.DataFrame(boston_data.data,columns=boston_data.feature_names)
boston.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03

<hr style = "border-top: 3px solid #000000 ; border-radius: 3px;">

<p style =" direction:rtl;text-align:right;">
 به کمک دیتا های فیجرها برای هر رکورد و نام فیچر ها بخش اول دیتاست را میسازیم
</p>

<hr style = "border-top: 3px solid #000000 ; border-radius: 3px;">

### c)

In [8]:
boston['Price'] = pd.DataFrame(boston_data.target)

In [9]:
boston.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7

In [22]:
boston['Price']

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: Price, Length: 506, dtype: float64

<hr style = "border-top: 3px solid #000000 ; border-radius: 3px;">

<p style =" direction:rtl;text-align:right;">
با قراردادن ستون هدف در کنار بخش اول دیتاست کامل می شود.
</p>

<hr style = "border-top: 3px solid #000000 ; border-radius: 3px;">

### i)

### ***Missing Values :***

In [10]:
boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
Price      0
dtype: int64

<hr style = "border-top: 3px solid #000000 ; border-radius: 3px;">

<p style =" direction:rtl;text-align:right;">
مقدار missing نداریم.
</p>

<hr style = "border-top: 3px solid #000000 ; border-radius: 3px;">

### ***Normalization:***

In [11]:
from scipy import stats

In [12]:
df = pd.DataFrame(stats.zscore(boston[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 
                                       'RM', 'AGE', 'DIS', 'RAD','TAX', 
                                       'PTRATIO', 'B', 'LSTAT']],axis=0),
                   columns=['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE',
                            'DIS', 'RAD','TAX', 'PTRATIO', 'B', 'LSTAT'])

df['Price']=boston[['Price']]
df.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,-0.419782,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.075562,24.0
1,-0.417339,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.492439,21.6
2,-0.417342,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.208727,34.7

<hr style = "border-top: 3px solid #000000 ; border-radius: 3px;">

<p style =" direction:rtl;text-align:right;">
مقادیر فیچرها را به کمک zscore نرمال می کنیم.
</p>

<hr style = "border-top: 3px solid #000000 ; border-radius: 3px;">

### j)

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X = df.drop('Price',axis=1)
y = df['Price']
display(X.head(3))
y

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,-0.419782,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.075562
1,-0.417339,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.492439
2,-0.417342,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.208727

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: Price, Length: 506, dtype: float64

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

### d)

In [16]:
from sklearn import linear_model

In [17]:
lrp = linear_model.PoissonRegressor().fit(X_train, y_train)
preds = lrp.predict(X_test)
preds

array([18.2070137 , 36.17014836, 18.01243087, 18.35233371, 24.48141929,
       20.91696395, 12.35084699, 26.35292133, 19.50778745, 35.99385545,
       40.38216343, 19.32277889, 22.25946739, 41.86158973, 18.25901545,
       30.71431437, 24.03707149,  9.64043737, 42.15483127, 24.30518613,
       17.58664375, 17.17182029, 26.71056564, 31.21931231, 38.88754842,
       12.0417437 , 14.37384137, 33.50250539, 40.49222941, 19.25331675,
       25.45502651, 22.2221639 , 20.4800712 , 19.79138247, 19.86455616,
       26.35639111, 14.61316072, 16.46636149, 36.69938945, 27.84415375,
        9.92927484, 34.99988222, 35.90854609, 18.51838627, 19.2516497 ,
       27.73475149, 32.30985352, 24.83198969, 13.37038917, 16.46792265,
       13.00549259, 22.73228323, 21.83930799, 18.02711612, 15.17796576,
       11.92227042, 16.14499992, 11.51150063, 43.48069328, 27.68036396,
       34.35480416, 18.93957007, 19.67230998, 20.04246974, 26.88535158,
       11.08195369, 17.57591212, 18.43804845, 32.03499895,  8.48913897,
       24.48771822, 37.18352557, 22.28523285,  5.19909861, 30.15678818,
       17.25821931, 19.01903304, 28.11040481, 26.79491411, 22.3218113 ,
       23.37720422, 23.01794318, 28.70410046, 20.29674349, 17.40127495,
       24.74531179, 21.07408861, 18.9264028 , 17.64820277, 12.44605565,
       15.50271994, 21.37664159, 17.18225054, 18.1611543 , 25.37109886,
       30.37326186, 20.46304352, 14.87193552, 11.99919762, 22.55372775,
       22.28518653, 26.09985587])

### e)

In [18]:
print(f"Accuracy = {lrp.score(X_test, y_test)}")

Accuracy = 0.8468690462564359

In [19]:
from sklearn.metrics import r2_score
r2_score(y_test, preds)

0.8603787628144957

#### HW6 Q2 Result:

<img src="ex.png" alt="Results" style="float: center;" />

<hr style = "border-top: 3px solid #000000 ; border-radius: 3px;">

<p style =" direction:rtl;text-align:right;">
همانطور که مشاهده می شود دقت رگرسور پواسون بیشتر است.
    یکی از علل این بهبود میتواند این باشد که مفادیر متغیر هدف ما درست است که یک رفم اعشار دارند اما اکثرا مفادیر اینتیجر در انها تکراری هستند و به داده های شمارشی شباهت دارند تا مقادیر پیوسته. که پواسون برای مقادیر شمارشی عملکرد خوبی دارد.
</p>

<hr style = "border-top: 3px solid #000000 ; border-radius: 3px;">